ion-card {
    --background: #0C1843;
}

#div-card {
    padding-top: 150px;
}

ion-button {
    --background: #F2F61B;
    --color: white;
}

ion-card {
    --background: #0C1843;
}

ion-item {
    --background: #0C1843;
}

ion-label {
    --color: white;
}

ion-input {
    --placeholder-color: white;
    --bacground: white;
    --color: white;
}

ion-button:hover {
    --background: #0C1843;
    --color: white;
}