#mapa {
    height: 650px;
    width: 100%;
}

.btn-buscar{
  color: white;
}
.btn-limpiar{
  color: white;
}
ion-content{
    --background: rgb(12, 24, 67);
}

ion-toolbar{
    --background: rgb(12, 24, 67);
    --color: white;
    
}
  