#mapa {
    height: 650px;
    width: 100%;
}


ion-title{
  text-align: left;
  font-size: medium;
}

.btn-salir{
  --background:rgb(255, 255, 255);
}

.img-volver{
  width: 25%;
  margin-right: 55%;
}
  