

<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="4">
          <img (click)="close()" class="img-volver" src="https://image.flaticon.com/icons/png/512/120/120826.png" alt="">
      </ion-col>
      <ion-col size="4">
          <ion-title>Ubicacion</ion-title>   
      </ion-col>
      <ion-col size="4"></ion-col>
  </ion-row>     
         
  </ion-toolbar>
 
  
</ion-header>

<ion-content>
  <ion-card>
    
    <div id="mapa"></div>
    
    <ion-button (click)="guardar()"  expand="full" color="success">
      Guardar
    </ion-button>
  </ion-card>
</ion-content>