<ion-header translucent>
    <ion-toolbar>
        <ion-title>Mi Perfil</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="close()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

            <ion-list>
                <ion-item>
                    <ion-icon name="person-outline" size="large"></ion-icon>
                    <ion-button expand="block" fill="clear" shape="round" class="ion-padding-horizontal">
                        Editar mi foto de perfil
                    </ion-button>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Nombre</ion-label>
                    <ion-input type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Apellido</ion-label>
                    <ion-input type="text"></ion-input>
                </ion-item>
            </ion-list>


            <ion-list>
                <ion-item>
                    <ion-label position="floating">Numero de Telefono</ion-label>
                    <ion-input type="number"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Correo Electronico</ion-label>
                    <ion-input type="email"></ion-input>
                </ion-item>
            </ion-list>


</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button (click)="cerrarSesion()" expand="full" shape="round" color="primary">
            Cerrar Sesion
        </ion-button>
    </ion-toolbar>
</ion-footer>
