
<app-menu [title]="nombreTitle" ></app-menu>

<ion-content>
      <!--

         <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-text-center">¡Bienvenido {{usuario}}!</ion-card-title>
        </ion-card-header>
    </ion-card>

      -->





    <app-geolocation ></app-geolocation>



</ion-content>
<ion-footer>

    <ion-toolbar>
        <ion-button expand="block" color="success"  (click)="presentModal()" >
          <ion-icon name="car-sport-outline" slot="start"></ion-icon>
           Viajes 
        </ion-button>

    </ion-toolbar>
</ion-footer>


