

.card-auto{
    background: white;
    border-radius: 1rem;
}

.img-auto{
    width: 70px;
    margin-left: 18%;
}

.p-viaje{
    margin-left: 33%;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}

#img-ruta{
    height: 177px;
    margin-bottom: 20%;
}

#card-mapa{
    border-radius: 2rem;
}

