

.card-auto{
    background: white;
    border-radius: 1rem;
}

#img-auto{
    margin: 1rem;
    width: 35%;
    margin-left: 33%;
}

.p-viaje{

    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

#img-ruta{
    height: 177px;
    margin-bottom: 20%;
}

#card-mapa{
    border-radius: 2rem;
}

