ion-content{
    --background: rgb(12, 24, 67);
}

ion-title{
    text-align: left;
}

.btn-salir{
    --background:rgb(255, 255, 255);
}

#div-viajes{
    margin-top: 5%;
}

.img-volver{
    width: 25%;
    margin-right: 55%;
}