
<ion-header>
    <ion-toolbar>
        <ion-button (click)="cerrarModal()" expand="block" fill="clear" shape="round">
            Cerrar
        </ion-button>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div id="opcion" #opcion >
        <ion-card>
            
        
            <ion-card-header class="ion-text-center">
                
                <ion-card-title>Datos Viaje</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item>
                        <ion-label position="floating">Destino</ion-label>
                        <ion-input [(ngModel)] = "viaje.destino" type="text" placeholder="Ingresa tu destino"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Tarifa</ion-label>
                        <ion-input [(ngModel)] = "viaje.precio" maxlength="4" type="text" placeholder="Ingresa tu tarifa"></ion-input>
                    </ion-item>
                    
                        <ion-button (click)="crearViaje()" class="ion-margin" expand="full" color="success"  size="large">
                            Crear Viaje
                        </ion-button>
                    
                </ion-list>
            </ion-card-content>
          </ion-card> 
     
    
    </div>
    
</ion-content>