ion-content{
    --background: white;
}

ion-title{
    text-align: left;
}

.bt-crear{
    --background: rgb(12, 24, 67);
    --color:white;
    text-align: center;
}

#div-viajes{
    margin-top: 5%;
}

.img-volver{
    width: 25%;
    margin-right: 55%;
}