.img-volver{
    width: 25%;
    margin-right: 55%;
  }

ion-title{
    text-align: center;
    font-size: small;
}

.img-user{
    width: 50%;
}

ion-toolbar{
    --background: white;
    --color: #0C1843;
}