<ion-header>
    <ion-toolbar>
        <ion-row>
            <ion-col size="4"></ion-col>
            <ion-col size="4">
                
                <ion-title class="ion-text-center ion-padding-right">{{title}}</ion-title>
                
            </ion-col>
            <ion-col size="4">
                <ion-img (click)="cerrarSesion()" class="img-salir" src="https://cdn-icons-png.flaticon.com/128/5233/5233959.png"></ion-img>
            </ion-col>
        </ion-row>
        
    </ion-toolbar>
</ion-header>

