ion-toolbar {
    --background: rgb(12, 24, 67);
    --color: white;
}

#title {
    padding-right: 50px;
}

ion-menu {
    --background: rgb(12, 24, 67);
}

.img-salir{
    width: 25%;
    margin-left: 70%;
}

