.img-volver{
    width: 25%;
    margin-right: 55%;
  }

ion-title{
    text-align: center;
    font-size: medium;
}

.img-user{
    width: 50%;
}

ion-toolbar{
    --background: blue;
}

ion-label{
    font-style: italic;
    font-weight: bold;
}
    